extends layout

block content
  h1.text-center= title
  h5.text-center Welcome to the #{title}
  div(ng-app="pwa", ng-controller="inventory").container
    span &nbsp; Current state:
      |
      kbd(ng-class="{'online': isOnline, 'offline': !isOnline}") {{ isOnline ? 'Online' : 'Offline' }}
    hr
    .row
      .col-md-6
        h4 Add new asset
        form.col-sm-12
          .form-group
            label(for='serial') Serial:
            input#serial.form-control(type='text', ng-model="asset.serial")
          .form-group
            label(for='available') Available:
            input#available.form-control(type='number', ng-model="asset.available")
          .form-group
            label(for='description') Description
            textarea#description.form-control(ng-model="asset.description")
          button.btn.btn-default(type='submit', ng-click="submitAsset()") Submit

      .col-md-6
        .row
          .col-md-6
            h4 Current inventory
          .col-md-6
        table.table.table-striped
          thead
            tr
              th #
              th Serial
              th Available at stock
              th Description
              th Sync status
          tbody
            tr(ng-repeat="asset in assets track by $index + asset.createdAt")
              td(ng-bind="$index + 1")
              td(ng-bind="asset.serial")
              td(ng-bind="asset.available")
              td(ng-bind="asset.description")
              td
                span.sync-indicator(ng-class="{'isSynced': asset.isSynced}")
        button.btn.btn-success(type='submit', ng-click="sync()") Sync assets
