doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="npm/bootstrap/dist/css/bootstrap.css")
    script(src="npm/angular/angular.js")
    script(src="javascripts/ng-app.js")
    script(src="register-worker.js")
  body
    block content