body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ol li div {
    display: inline-block;
}

.online {
    background-color: #1d8016;
}

.offline {
    background-color: rgba(255, 0, 0, 0.76);
}

.sync-indicator {
    border-radius:50%;
    height:12px;
    width:12px;
    border: 1px solid lightslategray;
    display: block;
}

.sync-indicator:not(.isSynced){
    background-color: transparent;
}

.sync-indicator.isSynced{
    background-color: #1d8016;
}